

<div class="container mt-3">
<h3>Dashboard</h3>
  <div class="row">

<% @applicants.each do |applicant| %>
<div class="col-sm-3">
  <div class="dashboard-card ">
    <div class="question-card-header">
    <p> <%= applicant.first_name %> <%= applicant.last_name %> </p>
    </div>
     <div class="question-content">
      <p>Born in:  <%= applicant.birth_place %> </p>
      <%= link_to "Resume process", question_first_asylum_path(applicant), class: "our-small-btn" %>
    </div>
  </div>
</div>


<% end %>
<div class="col-sm-3 d-flex align-items-end">
  <p><%= link_to 'See all applicants...', applicants_path, class: "px-3 d-none d-sm-block navbar-link" %></p>
  </div>
  </div>
</div>

<div>
  <%= image_tag 'human.png' %>
</div>
