<div class="container mt-4">
  <div class="row">
    <% @applicants.each do |applicant| %>
    <div class="col-sm-3">
      <%= link_to question_eighth_final_info_path(applicant), class: 'dashboard-link' do %>
            <div class="dashboard-card">
              <div class="dashboard-card-header">
              <p> <%= applicant.first_name %> <%= applicant.last_name %> </p>
              </div>
               <div class="dashboard-card-content">
                <p><%= applicant.origin_state %> </p>
                <% status = ["Documents ready", "Wait for 6 months", "No work permission"].sample %>
                <div class='status <%= status == "Documents ready" ? 'green' : 'red' %>'>
                  <p><%= status %><%# applicant.final_status %></p>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
