<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="question-card">
        <div class="question-card-header">
          <h3><%= t('fifth.residence_status.question.2') %></h3>
          <div class="p-flex-box">
            <span class="question">
              <%= t('fifth.residence_status.question.name') %>
            </span>
          </div>
        </div>
        <div class="question-content">
          <%= simple_form_for @applicant, :url => answer_fifth_residence_status_path(@applicant), :method => :post do |f| %>
          <%= f.input :residence_status, collection: [t('fifth.residence_status.question.option_1'), t('fifth.residence_status.question.option_2'), t('fifth.residence_status.question.option_3')], label: '', as: :radio_buttons %>
          <div class="button-on-right">
            <%= f.submit t('fifth.residence_status.question.next'), class: "our-small-btn" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
