<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="question-card">
        <div class="question-card-header">
          <h3>8</h3>
          <div class="p-flex-box">
            <span class="question">
              <%= t('eight.final_info.question.name') %>
            </span>
          </div>
        </div>
        <div class="question-content">
          <%= simple_form_for @applicant, wrapper: :horizontal_form,
  wrapper_mappings: {
    boolean:       :horizontal_boolean,
    check_boxes:   :horizontal_collection,
    date:          :horizontal_multi_select,
    datetime:      :horizontal_multi_select,
    file:          :horizontal_file,
    radio_buttons: :horizontal_collection,
    range:         :horizontal_range,
    time:          :horizontal_multi_select
  } do |f| %>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :gender, collection: [t('eight.final_info.question.option_1'), t('eight.final_info.question.option_2'), t('eight.final_info.question.option_3')], as: :radio_buttons %>
          <%= f.input :birth_date %>
          <%# f.country_select :birth_place %>
          <%= f.input :birth_place %>
          <%= f.input :asylum, as: :radio_buttons, wrapper_html: {class: "radio-buttons-style"}, label: t('eight.final_info.applied_for_asylum') %>
          <%= f.input :living_obligation, as: :radio_buttons, wrapper_html: {class: "radio-buttons-style"}, label: t('eight.final_info.living_obligation') %>
          <%= f.input :application_date %>

          <%# f.input :residence_status, as: :radio_buttons, wrapper_html: {class: "radio-buttons-style"} %>
          <%= f.input :residence_status, collection: [t('fifth.residence_status.question.option_1'), t('fifth.residence_status.question.option_2'), t('fifth.residence_status.question.option_3')], as: :radio_buttons %>

          <%= f.input :occupation_type, as: :radio_buttons, wrapper_html: {class: "radio-buttons-style"} %>
          <%= f.input :university_degree, as: :radio_buttons, wrapper_html: {class: "radio-buttons-style"} %>

          <div class="button-on-right">
            <%= f.submit t('first.asylums.question.next'), class: "our-small-btn" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
