<%= content_for :question_number do %>
1
<% end %>
<%= content_for :question_title do %>
  <%= t('first.asylums.question.name') %>
<% end %>

<%= simple_form_for @applicant, :url => answer_first_asylum_path(@applicant), :method => :post do |f| %>
<%= f.input :asylum, as: :radio_buttons, label: "" %>
<div class="button-on-right">
  <%= f.submit t('first.asylums.question.next'), class: "our-small-btn" %>
</div>
<% end %>
